*.tar.gz
*.bz2
__pycache__
config.mk
project_config.mk
.idea/
.vscode/
.DS_Store
.ipynb_checkpoints
*~
*.swp
*.tmp
Pipfile.lock
Pipfile
azcopy
*.pem
node_modules/

API_KEYS

data/natural_questions/v1.0*
data/natural_questions/nq_train_sample.jsonl
data/natural_questions/v1.0*
data/natural_questions/nq_dev*

workdir/
workdir
workdir_ephemeral
**/prompt_logs.json
**/prompt_logs.jsonl

# Redis Database file
*.rdb

# chainlit
.files/