img[alt="logo"] {
    max-height: 40px !important;
}

/* Hide the chainlit logo from the bottom of the page */
div.watermark {
    visibility: hidden;
}

/* Hide the message time */
p.MuiTypography-root.MuiTypography-body1.css-1w3dzvg {
    visibility: hidden;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-19zfkpk {
    opacity: 0.7;
    margin-top: 4px;
}

/*  Increase the font of avatar names */
p.MuiTypography-root.MuiTypography-body1.MuiTypography-noWrap.css-3my8qy {
    font-size: 1.1rem !important;
}

/* Fix the loading icon for LangGraph */
button.css-1op11jg {
    min-width: 0 !important;
    padding-left: 0 !important;
}

span.css-1i0vnjy {
    width: 0 !important;
    display: none !important;
}

/* Add shadow and rounded corners to Chainli.Text elements */
.MuiPaper-root.css-5khma7:not([data-testid="InfoOutlinedIcon"]) {
    background: rgba(255, 255, 255, 0.5) !important;
    /* semi-transparent white background */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2) !important;
    /* a bit shadow effect to create glossy look */
    border-radius: 25px !important;
    /* rounded corners */
    backdrop-filter: blur(5px) !important;
    /* blur effect to the background */
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.MuiAlert-icon.css-1l54tgj {
    display: none !important;
}

/* Increase the padding of Chainlit.Text elements, so that their shadow shows */
.MuiStack-root.css-18zsr3k {
    padding: 20px 30px 20px 20px !important;
}

/* Reduce the left margin of chain-of-thoughts */
.MuiStack-root.css-r663po {
    margin-left: 10px;
}

/* Make messages wider */
.MuiBox-root.css-r663po,
.MuiBox-root.css-l0vi5h {
    min-width: min(60rem, 100vw);
}

/* Change the color of links inside messages */
.MuiTypography-root.MuiTypography-inherit.MuiLink-root.MuiLink-underlineAlways.css-ryluow {
    color: #00897B;
    text-decoration-color: #00897B;
}

/* Hide the copy icon at the bottom of all messages */
.MuiStack-root.css-xybnup {
    display: none !important;
}

/* Change the border, shadow, and background of the text area */
.MuiInputBase-root.css-1fbn754 {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

/* Change the placeholder text color */
.MuiInputBase-input.css-10oer18::placeholder {
    color: #888;
}

/* Change the telegram icon color */
svg[data-testid="TelegramIcon"] {
    fill: #00897B;
}

/* Make the send button a little bit transparent when it is disabled */
.Mui-disabled.MuiIconButton-root.Mui-disabled.css-1deacqj:disabled {
    opacity: 0.8;
}

/* Hide the horizontal scrollbar in chain-of-thought */
.MuiStack-root.css-cc2jkq {
    overflow-x: hidden;
}

.MuiStack-root.css-w0cywo {
    margin-right: 10px;
}

/* User message */
.MuiBox-root.css-ky3d89 {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Change the color and size of GitHub icon */
.MuiIconButton-root.MuiIconButton-colorInherit.MuiIconButton-sizeMedium.css-2j8woe svg {
    fill: #4A4A4A;
    height: 30px;
    width: 30px;
}


/* Centralize the profile selector*/
.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit.MuiIconButton-sizeMedium.css-2j8woe {
    margin-left: 0px;
    margin-right: 5px;
}

.MuiStack-root.css-1kkt86i {
    margin: auto;
    display: block;
}